<section class="main-header">
   <img src="<%= asset_path "birdie-app.png" %>">
</section>
<section class="about">
  <h2>♪Birdie♪</h2>
  <p>
     Birdieは練習用アプリです<br>
     Birdieを一言で表すと、楽しいアプリです。<br>
     小鳥のさえずりを聞くような気持ちになります
  </p>
</section>

  <section class="function container-fluid">
    <div class="row">
    <h2>いま、うたってる？</h2>
      <div class="function-images">

      <div class="col-md-3 col-sm-6">
          <div class="function-image">
          <img src="<%= asset_path "camera.png" %>">
        <p>camera</p>
       </div>
     </div>        
      
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
          <img src="<%= asset_path "music.png" %>">
        <p>with music</p>
      </div>
     </div>
  
    <div class="col-md-3 col-sm-6">  
      <div class="function-image">
        <img src="<%= asset_path "rainbow.png" %>">
        <p>connection</p>
      </div>
    </div>
      
    <div class="col-md-3 col-sm-6">  
      <div class="function-image">
        <img src="<%= asset_path "clover.png" %>">
        <p>happiness</p>
      </div>
    </div>  
      
      </div>
    </div>
  </section>